/* Home.module.css */

@font-face {
  font-family: 'customFont';
  src: url('../public/font1/Variable-TT/Glancyr\ Variable-VF.ttf') format('ttf');

}

.homeContainer {
  font-family: sans-serif;
 margin: 0%;
 height: 100vh;
 background-image: url('./bg.png');
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: none;
}
.centerdiv{
  width: 90%;
  height: 75%;
  background: rgba(255, 255, 255, 0.48);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: row;

}

.branddiv{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12em;
}

.logindiv{
  display: flex;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 90%;
  border-radius: 15px;
  margin: 2em;
  flex-direction: column;
  overflow: none;
  
}


.brandLogo {
  width: 100px; 
}

.urldiv{
  background-color: aliceblue;
  padding: 8px;
  border-radius: 20px;
  margin-top: 11em;

}

.inputField {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 70%;
}

.submitButton {
  padding: 10px 20px;
  background-color: #007bff; /* Blue color, change as needed */
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
  margin-top: 2em;
}

.otpdDiv {
  display: flex;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 90%;
  border-radius: 15px;
  margin: 2em;
  flex-direction: column;
  overflow: none;
}

.backButton {
  background: none;
  border: none;
  font-size: 1.5em;
  color: #0D285A;
  cursor: pointer;
  margin-top: 0.5em;
  margin-left: -23em;
}

.otpInputContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.otpInput {
  width: 50px;
  height: 60px;
  margin: 0 20px;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.resendLink {
  color: #0075FF;
  text-decoration: none;
}

.verifyButton {
  margin-top: 1em;
  padding: 10px 20px;
  background-color: #0075FF;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
}

.verifyButton:hover {
  background-color: #0056b3;

}

.congratsDiv{
  display: flex;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 90%;
  border-radius: 15px;
  margin: 2em;
  flex-direction: column;
  overflow: none;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}



.profileButton,
.exitButton {
  padding: 10px 20px;
  background-color: #cccccc;
  border: none;
  border-radius: 5px;
}

.line {
  width: 90%;
  border-top: 1px solid #ffffff;
  margin-bottom: 20px;
}

.characterCards {
  display: flex;
  gap: 20px;
}

.characterCard {
  font-family: 'customFont';
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.characterCard p {
  margin-top: 10px;
}

.enterButton {
  font-family: 'customFont';
  padding: 15px 20px;
  background-color: #0075FF;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 2em;
  width: 30%;
  font-size: 1.2em;
}

.enterButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.centerdiv1{
  width: 90%;
  height: 70%;
  background: rgba(255, 255, 255, 0.48);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #fff;
}


.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white for glass effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of everything else */
}

.modalContent {
  background: #fff; /* White background for the modal */
  width: 90%; /* 90% width of the screen */
  max-width: 600px; /* Maximum width of the modal */
  height: 50%; /* 50% height of the screen */
  max-height: 400px; /* Maximum height of the modal */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  padding: 20px;
}
